.main1 {
    width: 100%;
    height: 800px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/main1.jpg);
    background-size: cover; /* 핵심코드 */
    position: relative; /* 핵심코드 */
    display : inline-block;
    margin-bottom: 2%;
    max-width: 100%;
    background-repeat :no-repeat;
  }
  
  .main1-txt {
    position: absolute; /* 핵심코드 */
    top: 50%; /* 핵심코드 */
    left: 50%; /* 핵심코드 */
    transform: translate( -50%, -50%); /* 핵심코드 */
    font-size: x-large;
    color: white;
    font-family: 'Jua';
    font-weight: bold;
  }
  
  .main2 {
    width: 100%;
    height: 800px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./img/main2.jpg);
    background-size: cover; /* 핵심코드 */
    position: relative; /* 핵심코드 */
    display : inline-block;
    margin-bottom: 2%;
    max-width: 100%;
    background-repeat :no-repeat;
  }
  
  .main2-txt {
    position: absolute; /* 핵심코드 */
    top: 50%; /* 핵심코드 */
    left: 50%; /* 핵심코드 */
    transform: translate( -50%, -50%); /* 핵심코드 */
    font-size: x-large;
    color: white;
    font-family: 'Jua';
    font-weight: bold;
  }
  
  .main3 {
    width: 100%;
    height: 800px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./img/main5.jpg);
    background-size: cover; /* 핵심코드 */
    position: relative; /* 핵심코드 */
    display : inline-block;
    margin-bottom: 2%;
    max-width: 100%;
    background-repeat :no-repeat;
  }
  
  .main3-txt {
    position: absolute; /* 핵심코드 */
    top: 50%; /* 핵심코드 */
    left: 50%; /* 핵심코드 */
    transform: translate( -50%, -50%); /* 핵심코드 */
    font-size: x-large;
    color: white;
    font-family: 'Jua';
  }
  
  #mainbtn {
    display: flex;
    justify-content: center;
    background-color: #9EA3A0;
    border: 1px solid #9EA3A0;
    color: white;
    border-radius: 20px;
  }
  
  #mainbtn:hover {
    background-color: #838383;
    border: 1px solid #838383;
  }